################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DS_Algo/Debug
/.vs
/DS_Algo/.vs/DS_Algo/v15
